body {
    font-family: 'Open Sans', 'Helvetica';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.name {
    margin-bottom: 5px;
}
.Canvas-Wrapper {
    border: 1px solid #444;
    width: 80vw;
    height: 500px;
}